<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<link rel="stylesheet" type="text/css" th:href="@{css/mypage.css}">
<link rel="stylesheet" type="text/css" th:href="@{css/UserLayout.css}">
<body>
	<header th:replace="~{UserLayout::header}"></header>
	<nav th:replace="~{UserLayout::nav}"></nav>
	<article>
		<h3>마이페이지</h3>
		<span th:text="${session.user_name}"></span><span>님 안녕하세요</span>
	</article>
	<main>
		<aside th:replace="~{UserLayout::aside}"></aside>
		<div class="member">
			<div class="containerorder">
				<h4 id=text1>장바구니</h4>
				<form action="userbasket">
					<table border="1" id="membertb">
						<thead>
							<th>상품정보</th>
							<th>수량</th>
							<th>주문금액</th>
							<th>배송비</th>
						</thead>
						<tbody>
							<tr>
								<td>소고기</td> <!--product_no:상품번호  -->
								<td>2</td> <!-- product_cnt:수량 -->
								<td>10000</td> <!-- total_cnt:총 가격 -->
								<td>3000</td> 
							</tr>
						</tbody>
					</table>
					<label for="order"></label> <input type="submit" id="order"
						value="주문">
				</form>
			</div>
		</div>
	</main>
<script type="text/js" th:href="@{js/barofarm}"></script>
</body>

</html>