<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<head>
<meta charset="UTF-8">
<title>공지사항 상세보기</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
</head>
<link rel="stylesheet" type="text/css" th:href="@{/css/AdminLayout.css}">
<body>
	<header th:replace="~{AdminLayout::header}"></header>
	<nav th:replace="~{AdminLayout::nav}"></nav>
	<main>
		<div class="m1">
			<font class="title"> 공지사항 상세보기 </font>
		</div>
		<hr class="hr" noshade>
		<div class="form">
			<div class="m2" >
				<div>제목</div>
				<div>내용</div>
			</div>
			<div class="m3">
				<form action="#" method="post">
					<!-- <div><input type ="text" name="infoNo"  th:value="${infoVo.infoTitle}" ></div>
					<div><input type="text" name="infoNo"  th:value="${infoVo.infoText}"></div> -->
					<div><span th:text="${infoVo.infoTitle}"></span></div>
					<div><span th:text="${infoVo.infoText}"></span></div>
				</form>
				<div><a th:href="@{#}"><input type ="button" value="수정하기"></a></div>
			</div>
		</div>
	</main>
</body>
</html>