<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<link rel="stylesheet" type="text/css" th:href="@{/css/mypage.css}">
<link rel="stylesheet" type="text/css" th:href="@{/css/UserLayout.css}">
<body>
	<header th:replace="~{UserLayout::header}"></header>
		<nav th:replace="~{UserLayout::nav}"></nav>
	<article>
		<h3>마이페이지</h3>
		<span th:text="${session.user_name}"></span><span>님 안녕하세요</span>
	</article>
	<main>
		<aside th:replace="~{UserLayout::aside}"></aside>
		<div class="member">
			<div class="container">
				<h4>회원 정보 수정</h4>
				<form action="memberUpdate" method="post">
					<label>아이디</label> 
						<input type="text" th:value="${session.user_id}" name="user_id"> 
					<label>이름</label>						
 						<input type="text" th:value="${session.user_name}" name="user_name"> 
 						
					<!-- LoginController layer에서 session에 저장한 값이 user_id와 user_name이여서 2개만  불러와지는 거 같음 -->
<!--  					<label>이메일</label>						
 						<input type="text" th:value="${session.user_email}" name="user_email"> 
					<label>연락처</label>						
 						<input type="text" th:value="${session.user_phone}" name="user_phone">  --> 
					<button type="submit" class="btn">수정</button>
				</form>
			</div>
		</div>
	</main>
</body>
</html>