<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Insert title here</title>
</head>
<link rel="stylesheet" type="text/css" th:href="@{css/mypage.css}">
<link rel="stylesheet" type="text/css" th:href="@{css/UserLayout.css}">

<body>
	<header th:replace="~{UserLayout::header}"></header>
	<nav th:replace="~{UserLayout::nav}"></nav>
	<article>
		<h3>마이페이지</h3>
		<span th:text="${session.user_name}"></span><span>님 안녕하세요</span>
	</article>
	<main>
		<aside th:replace="~{UserLayout::aside}"></aside>
		<div class="member">
			<div class="containerorder">
				<h4 id=text1>주문 배송 조회</h4>
				<table border="1" id="membertb">
					<thead>
						<th>주문번호</th>
						<th>상품정보</th>
						<th>주문금액</th>
					</thead>
					<tbody>
						<tr>
						<td>123번</td>
						<td>소고기</td>
						<td>10000</td>						
						</tr>
						
					</tbody>
				</table>
					
			</div>
		</div>
	</main>
</body>

</html>