@charset "UTF-8";

/*레이아읏 개발중.. 개발자 :son*/
*{
	font-family: Pretendard SemiBold;
}
body{
	margin: 0;
	margin-top: 0;
	/*background-color: rgb(245, 241, 206);*/
}
header {
	color: rgb(44,74,58);
	/*background-color: rgb(245, 241, 206);*/
	padding-top: 2rem;
	/*border: 0.05rem solid black;*/
}
header .logo{
	display: flex;
	justify-content: center;
}
header .tree{
	width: 10rem;
	/*border: 0.05rem solid green;*/
}
header .home{
	font-family: Pretendard ExtraBold;
	/*border: 0.05rem solid green;*/
}
.home span {
	font-family: Pretendard ExtraBold;
	font-size: 1.3rem;
}
header .home {
	display: flex;
	justify-content: center;
	align-items: flex-end;
}
nav {
	display: flex;
	height: 2rem;
	justify-content: center;
	align-items: center;
	background-color: rgb(44,74,58);
	/*border: 0.05rem solid blue;*/
}
nav a {
	margin-left: 3rem;
	text-decoration: none;
	color:white;
	/*border: 0.05rem solid blue;*/
}
main .m1{
	display:flex;
	justify-content: center;
}
main .title{
	font-family: Pretendard ExtraBold;
	font-size: 2rem;
	color: rgb(44,74,58);
	margin-top: 2rem;
}
main .hr{
	width: 60%;
	height:0.2rem;
	background-color:rgb(44,74,58);
	margin-top: 1rem;
	border:none;
}

main .form{
	display:flex;
	justify-content: center;
}
main .m2{
	font-family: Pretendard ExtraBold;
	font-size: 1.4rem;
	color: rgb(44,74,58);
	width: 10%;
	/*border: 0.05rem solid red;*/
}
main .m2 div, .m3 div{
	margin-top: 1rem;
}
main .m3{
	/*border: 0.05rem solid blue;*/
}
main .m3 input:not([type="submit"]){
	border:solid 2px rgb(44,74,58);
	outline: none;
	appearance: none;
	background-color: rgb(245, 241, 206);
}
main .m3 input{
	color: rgb(44,74,58);
	font-size: 1.1rem;
	transition:border-color 0.3s ease-in-out;
}
input[type="submit"]{
	border:none;
	background-color: rgb(44,74,58);
	color: white;
	padding: 0.5rem;
	

}
main .m3 select{
	border:solid 2px rgb(44,74,58);
	background-color: rgb(245, 241, 206);
	width: 100%;
	font-size: 1.1rem;
}
/*조회css*/
main .hr_1{
	width: 90%;
	height:0.1rem;
	background-color:rgb(44,74,58);
	margin-top: 1rem;
	border:none;
}
main .hr_2{
	width: 1220%;
	height:0.1rem;
	background-color: rgb(44,74,58);
	border: none;
}
main .fish_table{
	table-layout:fixed;
	display: table;
	width: 90%;
	margin:auto;
	padding:auto;
}
main .fish_table_row{
	display:table-row;
	vertical-align: middle;
	text-align: center;
}
main .fish_table_cell{
	display: table-cell;
	padding: 0px 30px;
	height: 15px;
}
main .fish_table_cell2{
	width:3%;
	display: table-cell;
	padding: 0px 30px;
	height: 15px;
}
main .fish_table_cell2 a{
	text-decoration:none;
	color: rgb(44,74,58);
	font-weight: bolder;	
}

.page {
	display: flex;
	justify-content: center;
	text-decoration: none;
	color: black;
	margin-right: 1rem;
	margin-top: 1rem;
}
#deleteBtn {
	margin-left: 5rem;
}
.excel{
	margin-left: 1100px;
}
