@charset "UTF-8";
body{
	text-align: center;
	margin-left:10px;
}
#title{
color:rgba(44,74,58);
font-weight: bolder;
font-size: 30px;

}
.hr{
	width: 50%;
	height:10px;
	background-color: rgb(44,74,58);
	border: none;
}

.hr_1{
	width: 95%;
	height:10px;
	background-color: rgb(44,74,58);
	border: none;
}
.hr_2{
	width: 900%;
	height:2px;
	background-color: rgb(44,74,58);
	border: none;
}
.product_cate_font{
	color:rgba(44,74,58);
	font-size:50px;
}

.product_middle{
	color:rgba(44,74,58);
}

a{
	text-decoration-line:none; 
	color: rgba(44,74,58);
	font-weight: bold;
}
a:hover {
	color:red;
}
.fish_table{
	table-layout:fixed;
	display: table;
	width: 90%;
	margin:auto;
	padding:auto;
}
.fish_table_row{
	display:table-row;
	vertical-align: middle;
	text-align: center;
}
.fish_table_cell{
	display: table-cell;
	padding: 0px 30px;
	height: 15px;

	
}

.fish_table_cell p{
	font-weight: bolder;	
}

.excel{
	margin-left: 10px;
	background-color: black;
}

