@charset "UTF-8";
body{
	text-align: center;
}
#title{
	font-family: Pretendard ExtraBold;
	font-size: 2rem;
	color: rgb(44,74,58);
	margin-top: 2rem;
}
.m1{
	display:flex;
	justify-content: center;
}
.hr{
	width: 60%;
	height:0.2rem;
	background-color:rgb(44,74,58);
	margin-top: 1rem;
	border:none;
}
.hr_1{
	width: 90%;
	height:0.1rem;
	background-color:rgb(44,74,58);
	margin-top: 1rem;
	border:none;
} 

.product_cate_font{
	color:rgba(44,74,58);
	font-size:50px;
}

.product_middle{
	color:rgba(44,74,58);
}

a{
	text-decoration-line:none; 
	color: rgba(44,74,58);
}
a:hover {
	/*color:red;*/
}
.fish_table{
	table-layout:fixed;
	display: table;
	width: 90%;
	margin:auto;
	padding:auto;
}
.fish_table_row{
	display:table-row;
	vertical-align: middle;
	text-align: center;
}
.fish_table_cell{
	display: table-cell;
	padding: 0px 30px;
	height: 15px;

	
}
.fish_table_cell p{
	font-weight: bolder;	
}

